@import '../node_modules/bootstrap/less/variables';
@import '../node_modules/bootstrap/less/mixins';
@import 'variables';

//common
h1 {
  margin-bottom: 30px;
}
h4 {
  margin-bottom: 20px;
}

td {
  .btn-link {
    margin-top: -6px;
  }
}

input[type="radio"], input[type="checkbox"] {
  margin-top: 0;
}

//v-select
.v-select.searchable input[type=search], .v-select input[type=search]:focus {
  height: 32px;
  width: 60px !important;
  font-size: inherit;
}

.v-select.with-placeholder input[type=search], .v-select input[type=search]:focus {
  width: auto !important;
}

//validation
.has-error{
  .v-select {
    .dropdown-toggle {
      border-color: @state-danger-text;
    }
  }
}

//address
address {
  margin-bottom: 0;
}

//dl
dl.dl-horizontal {
  dt {
    text-align: left;
    padding-bottom: 12px;
  }
}

//buttons
.btn-input-line {
  margin-top: 25px;
}

//datepicker
.datepicker {
  width: 100%;
}

.date-select {
  display: flex;

  .btn {
    vertical-align: middle;
  }

  .vdp-datepicker {
    padding: 0 5px;
    vertical-align: middle;
    width: 100%;
    display: inline-block;
  }
}

//table
table {
  tr {
    td.form-label {
      padding-top: 15px;
    }
  }
}

tr.inactive {
  color: @text-muted;
  text-decoration: line-through;
}

td.note {
  width: 100%;
}

//AdminLte fixes
h3.box-title.first {
  display: block;
  margin-bottom: 15px;
}

.box-header {
  dl {
    margin-bottom: 0;
  }
}


@media (min-width: @screen-xs-min) {
  .skin-green .main-header .navbar .dropdown-menu li a:hover {
    background: @list-group-hover-bg;
  }
}

@media print {
  .box {
    border: 0;
  }

  .box-header {
    dl {
      margin-bottom: 0;
    }
  }

  .box-footer {
    border: 0;
  }
}

.skin-green .main-header .navbar .dropdown-menu li a {
  color: @text-color;
}


.main-header .navbar .dropdown-menu li.divider {
  background-color: @hr-border !important;
}

//utils
.block {
  margin-bottom: 15px;
}
.checkbox-middle {
  margin-top: 35px;
}
.inline-block {
  display: inline-block;
}

.print-end-page {
  page-break-after: always;
}

.sign-title {
  padding-right: 10px;
}

.sign-description {
  padding-left: 85px;
}

.hide-cancel {
  .btn-default{
    display: none;
  }
}
