<template>
  <div>
    <div class="content-header">
      <h1>{{ title }}</h1>
    </div>
    <section class="content">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" v-model="query" class="form-control" placeholder="Vyhľadaj podľa názvu.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                <button class="btn btn-success" type="button" @click="createShow()"><i class="fa fa-plus" aria-hidden="true"></i> Pridať novú položku
                </button>
                <code-list-modal :show-model="showCreateModal" :model="selectedItem" :module-name="moduleName" @close="createHide()"></code-list-modal>
              </p>
            </div>
          </div>

          <div class="row" v-if="items.length">
            <div class="col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th>Názov</th>
                  <th>Popis</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="item in items">
                  <tr :class="{inactive : !item.valid}">
                    <td>{{ item.label }}</td>
                    <td>{{ item.shortDescription }}</td>
                    <td>
                      <button class="btn btn-xs btn-link" @click.prevent="editItem(item)" :disabled="!item.valid"><i class="fa fa-2x fa-pencil-square-o text-primary" title="Editovať"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="item.valid ? deactivateItem(item) : activateItem(item)"><i :class="{'fa-toggle-on': item.valid, 'fa-toggle-off text-success': !item.valid}" class="fa fa-2x" :title="item.valid ? 'Deaktivovať' : 'Aktivovať'"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="deleteItem(item)"><i class="fa fa-2x fa-times text-danger" title="Zmazať"></i></button>
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <div v-else class="row">
            <div class="col-md-12">
              <alert type="warning">Neexistuje žiadna položka.</alert>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import codeListMixin from './codeListMixin';

  export default {
    mixins: [codeListMixin],
  }
</script>
