<template>
  <div v-if="employer">
    <modal-window v-model="show" @ok="createSubmit()" @cancel="cancel()" @closed="onClose()" title="Editácia zamestnanca" cancelText="Zrušïť" okText="Uložiť" :medium="true">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('name') }">
              <label for="name">Meno</label>
              <input class="form-control" id="name" placeholder="Zadaj meno" v-model.trim="employer.firstName" name="firstName" maxlength="100" v-validate="'required|min:3|max:100'">
              <p class="text-danger" v-if="errors.has('firstName')">{{ errors.first('firstName') }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('name') }">
              <label for="name">Priezvisko</label>
              <input class="form-control" id="surname" placeholder="Zadaj priezvisko" v-model.trim="employer.surname" name="surname" maxlength="100" v-validate="'required|min:3|max:100'">
              <p class="text-danger" v-if="errors.has('surname')">{{ errors.first('surname') }}</p>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('streetName') }">
              <label>Ulica</label>
              <input class="form-control" id="streetName" placeholder="Zadaj ulicu" v-model.trim="employer.address.streetName" name="streetName" maxlength="50" v-validate="'required|max:50'">
              <p class="text-danger" v-if="errors.has('streetName')">{{ errors.first('streetName') }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('houseNumber') }">
              <label>Číslo domu</label>
              <input class="form-control" id="houseNumber" placeholder="Zadaj číslo domu" v-model.trim="employer.address.houseNumber" name="houseNumber" maxlength="10" v-validate="'required|max:10'">
              <p class="text-danger" v-if="errors.has('houseNumber')">{{ errors.first('houseNumber') }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('city') }">
              <label>Mesto</label>
              <input class="form-control" id="city" placeholder="Zadaj mesto" v-model.trim="employer.address.city" name="city" maxlength="50" v-validate="'required|max:50'">
              <p class="text-danger" v-if="errors.has('city')">{{ errors.first('city') }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('zipCode') }">
              <label>PSČ</label>
              <input class="form-control" id="zipCode" placeholder="Zadaj smerovacie číslo" v-model.trim="employer.address.zipCode" name="zipCode" maxlength="10" v-validate="'required|max:10'">
              <p class="text-danger" v-if="errors.has('zipCode')">{{ errors.first('zipCode') }}</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': errors.has('country') }">
              <label>Štát</label>
              <v-select v-model="selectedCountry" :options="countries"></v-select>
              <input type="hidden" v-model="employer.address.country" name="country" id="country" v-validate="'required'">
              <p class="text-danger" v-if="errors.has('country')">{{ errors.first('country') }}</p>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group" :class="{ 'has-error': errors.has('note') }">
              <label for="note">Poznámka</label>
              <textarea class="form-control" id="note" v-model.trim="employer.note" name="note" maxlength="300" v-validate="'max:300'" style="height: 107px;"></textarea>
              <p class="text-danger" v-if="errors.has('note')">{{ errors.first('note') }}</p>
            </div>
          </div>
        </div>
      </form>

    </modal-window>
  </div>
</template>

<script>
  import _ from 'lodash';
  import { countries } from 'codelist/';
  import modal from 'vue-strap/src/Modal';
  import vSelect from 'vue-select';
  import notificationService from 'services/notificationService';

  const codelistTransformation = codeList => ({label: codeList.label, value: codeList.id});

  export default {
    components: {modalWindow: modal, vSelect: vSelect},
    data: () => ({
      show: false,
      vatPayer: false,
      employer: null,
      countries: _.map(countries, codelistTransformation),
      selectedCountry: null
    }),
    props: {
      showModel: {
        type: Boolean,
        default () {
          return false;
        }
      },
      model: {
        type: Object
      }
    },
    methods: {
      createSubmit() {
        this.protect();
        this.$validator.validateAll().then((res) => {
          if (res) {
            let operation;
            if (this.employer.id) {
              operation = 'employer/update';
            } else {
              operation = 'employer/create';
            }
            const employer = _.cloneDeep(this.employer);
            this.$store.dispatch(operation, employer).then((result) => {
              if (result) {
                notificationService.success('employer.edit.success');
                this.$emit('close');
              } else {
                this.unprotect();
              }
            }).catch(this.unprotect);
          } else {
            this.unprotect();
          }
        }).catch(this.unprotect);
      },
      clear() {
        this.vatPayer = false;
        this.selectedCountry = null;
        this.employer = null;
        this.$nextTick(() => {
          this.errors.clear();
        });
      },
      cancel() {
        this.$emit('close');
      },
      onClose() {
        this.unprotect();
        this.clear();
      }
    },
    watch: {
      showModel(showModel) {
        this.show = showModel;
      },
      model: function (model) {
        this.employer = _.cloneDeep(model);
        if (model) {
          this.vatPayer = this.employer && !!this.employer.vatId;
          this.selectedCountry = _.find(this.countries, {value: this.employer.address.country});
        }
      },
      selectedCountry: function (selectedCountry) {
        if (!this.employer) return;
        this.employer.address.country = !!selectedCountry ? selectedCountry.value : null;
      }
    }
  }
</script>
