<template>
  <div>
    <div class="content-header">
      <h1>Zamestnanci</h1>
    </div>

    <section class="content">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" v-model="query" class="form-control" placeholder="Vyhľadaj podľa mena.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                <button class="btn btn-success" type="button" @click="createShow()"><i class="fa fa-plus"
                                                                                       aria-hidden="true"></i>
                  Pridať zamestnanca
                </button>
                <employer-modal :show-model="showCreateModal" :model="selectedEmployer"  @close="hideModals()"></employer-modal>
              </p>
            </div>
          </div>
          <div class="row" v-if="employees.length">
            <div class="col-md-12">
              <table class="table">
                <thead>
                <tr>
                  <th>Meno</th>
                  <th>Priezvisko</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="employer in employees">
                  <tr :class="{inactive : !employer.active}">
                    <td>{{ employer.firstName }}</td>
                    <td>{{ employer.surname }}</td>
                    <td class="text-right">
                      <button class="btn btn-xs btn-link" @click.prevent="editEmployer(employer)"><i
                        class="fa fa-2x fa-pencil-square-o text-primary" title="Editovať"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="toggleEmployerActive(employer)"><i
                        :class="{'fa-toggle-on': employer.active, 'fa-toggle-off text-success': !employer.active}"
                        class="fa fa-2x" :title="employer.active ? 'Deaktivovať' : 'Aktivovať'"></i></button>
                      <button class="btn btn-xs btn-link" @click.prevent="deleteEmployer(employer)"><i
                        class="fa fa-2x fa-times text-danger" title="Zmazať"></i></button>
                    </td>
                  </tr>
                </template>
                </tbody>
              </table>
            </div>
          </div>
          <div v-else-if="loading" class="text-center">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          </div>
          <div v-else class="row">
            <div class="col-md-12">
              <alert type="warning">Žiadny zamestnanec neexistuje.</alert>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>
</template>
<script>
  import _ from 'lodash';
  import {alert} from 'vue-strap';
  import {mapState} from 'vuex';
  import employerModal from 'components/employerCreateModal';
  import notificationService from 'services/notificationService';
  import employerService from 'services/employerService';

  export default {
    components: {alert, employerModal},
    data: () => ({
      showCreateModal: false,
      showChangePasswordModal: false,
      selectedEmployer: null,
      query: null
    }),
    computed: mapState({
      loading: (state) => state.app.loadingData,
      employees(state) {
        let allEmployees = state.employer.items;
        if (this.query) {
          let regexp = new RegExp(this.query.toLowerCase(), "g");
          return allEmployees.filter(employer => !!employer.firstName.toLowerCase().match(regexp)
            || !!employer.surname.toLowerCase().match(regexp)
            || !!(employer.firstName + " " + employer.surname).toLowerCase().match(regexp));
        } else {
          return allEmployees;
        }
      }
    }),
    methods: {
      createShow() {
        this.selectedEmployer = employerService.newEmployer();
        this.showCreateModal = true;
      },
      hideModals() {
        this.showCreateModal = false;
        this.showChangePasswordModal = false;
      },
      deleteEmployer(employer) {
        this.confirm('employer.delete.confirmation', [employer.fullName]).then(() => {
          this.$store.dispatch('employer/delete', employer.id).then((result) => {
            if (result) {
              notificationService.success('employer.delete.confirmation');
            }
          }).catch(this.unprotect);
        });
      },
      toggleEmployerActive(employer) {
        let action = employer.active ? 'deactivate' : 'activate';
        this.$store.dispatch('employer/' + action, employer.id).then((result) => {
          if (result) {
            notificationService.success('employer.' + action + '.success');
          } else {
            notificationService.error('error.' + action + '.deactivate');
          }
        });
      },
      editEmployer(employer) {
        this.selectedEmployer = _.cloneDeep(employer);
        this.showCreateModal = true;
      },
      changePassword(employer) {
        this.selectedEmployer = _.cloneDeep(employer);
        this.showChangePasswordModal = true;
      }
    },
    created() {
      this.$store.dispatch('employer/getAll')
    }
  }
</script>
