<template>
  <div>
    <div class="content-header">
      <h1>Zmena hesla</h1>
    </div>
    <section class="content">
      <div class="box">
        <div class="box-body">
          <form>
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <div class="form-group" :class="{ 'has-error': errors.has('originalPassword') }">
                  <label for="originalPassword">Aktuálne heslo</label>
                  <input type="password" class="form-control" id="originalPassword" placeholder="Zadaj aktuálne heslo" v-model="credentials.originalPassword" name="originalPassword" maxlength="20" v-validate="'required|min:5|max:20'">
                  <p class="text-danger" v-if="errors.has('originalPassword')">{{ errors.first('originalPassword') }}</p>
                </div>
                <div class="form-group" :class="{ 'has-error': errors.has('newPassword') }">
                  <label for="newPassword">Nové heslo</label>
                  <input type="password" class="form-control" id="newPassword" placeholder="Zadaj nové heslo" v-model="credentials.newPassword" name="newPassword" maxlength="20" v-validate="'required|min:5|max:20'">
                  <p class="text-danger" v-if="errors.has('newPassword')">{{ errors.first('newPassword') }}</p>
                </div>
                <div class="form-group" :class="{ 'has-error': errors.has('confirmPassword') }">
                  <label for="confirmPassword">Nové heslo pre kontrolu</label>
                  <input type="password" class="form-control" id="confirmPassword" placeholder="Zadaj nové heslo znova" v-model="credentials.confirmPassword" name="confirmPassword" maxlength="20" v-validate="'required|confirmed:newPassword'">
                  <p class="text-danger" v-if="errors.has('confirmPassword')">{{ errors.first('confirmPassword') }}</p>
                </div>
              </div>
            </div>
            <hr>
            <div class="text-center">
              <span>
                <router-link tag="button" to="/profile" class="btn btn-default">Zrušiť</router-link>
                <button class="btn btn-primary" type="submit" @click.prevent="save()">Uložiť</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import _ from 'lodash';
  import notificationService from 'services/notificationService';
  import { mapState } from 'vuex';
  const credentials = {
    originalPassword: '',
    newPassword: '',
    confirmPassword: '',
  };

  export default {
    data() {
      return {
          credentials: _.clone(credentials)
      }
    },
    methods: {
      save() {
        this.$validator.validateAll().then( () => {
          this.$store.dispatch('user/myPasswordChange', this.credentials).then((result) => {
            if (result) {
              notificationService.success('Heslo bolo zmenené.');
              this.credentials = _.clone(credentials);
              this.$router.push('/profile');
            }
          });
        }).catch(() => {
          //nothing
        });
      }
    }
  }
</script>
